.premium{
  transition: background 2s;
  border: 1px solid transparent;
  background-image: linear-gradient(45deg, var(--yt-spec-assistive-feed-themed-gradient-1), var(--yt-spec-assistive-feed-themed-gradient-2), var(--yt-spec-assistive-feed-themed-gradient-3)), linear-gradient(45deg, var(--yt-spec-assistive-feed-vibrant-gradient-1), var(--yt-spec-assistive-feed-vibrant-gradient-2), var(--yt-spec-assistive-feed-vibrant-gradient-3));
  background-clip: padding-box, border-box;
  background-origin: border-box, border-box;
}
